<p-stepper>
  <p-stepperPanel header="Personal Information">
    <ng-template
      pTemplate="content"
      let-nextCallback="nextCallback"
      let-index="index"
    >
      <div class="flex flex-column h-12rem">
        <div
          class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium"
        >
          <div class="user-image">
            <ngx-dropzone (change)="onSelect($event)">
              <ngx-dropzone-label
                ><i class="fa-solid fa-camera-retro fs-3 camera"></i
              ></ngx-dropzone-label>
              <ngx-dropzone-image-preview
                class="selected-image-container"
                ngProjectAs="ngx-dropzone-preview"
                *ngFor="let f of files"
                [file]="f"
                [removable]="true"
                (removed)="onRemove(f)"
              >
              </ngx-dropzone-image-preview>
            </ngx-dropzone>
          </div>
          <form>
            <div class="group">
              <input
                type="text"
                id="name"
                name="name"
                autocomplete="off"
                [(ngModel)]="user.name"
              />
              <label for="name" class="text">Name</label>
            </div>
            <div class="group">
              <input
                type="text"
                id="job"
                name="job"
                autocomplete="off"
                [(ngModel)]="user.job"
              />
              <label for="job" class="text">Job</label>
            </div>
            <div class="group">
              <input
                type="text"
                id="age"
                name="age"
                autocomplete="off"
                [(ngModel)]="user.age"
              />
              <label for="age" class="text">Age</label>
            </div>
            <div class="group select-group">
              <select name="gender" id="gender" [(ngModel)]="user.gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
              <label for="gender">Geander</label>
            </div>
            <div class="group">
              <input
                type="text"
                id="location"
                name="location"
                autocomplete="off"
                [(ngModel)]="user.location"
              />
              <label for="location" class="text">Location</label>
            </div>
          </form>
        </div>
      </div>
      <div class="flex pt-4 justify-content-end">
        <p-button
          label="Next"
          icon="pi pi-arrow-right"
          iconPos="right"
          (onClick)="nextCallback.emit()"
        />
      </div>
    </ng-template>
  </p-stepperPanel>
  <p-stepperPanel header="Extra Information">
    <ng-template
      pTemplate="content"
      let-prevCallback="prevCallback"
      let-nextCallback="nextCallback"
      let-index="index"
    >
      <div class="flex flex-column h-12rem">
        <div
          class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium"
        >
          <form>
            <div class="group text-group">
              <textarea
                name="about"
                id="about"
                autocomplete="off"
                [(ngModel)]="user.about"
              ></textarea>
              <label for="about" class="text text-earea">About</label>
            </div>
            <div class="group text-group">
              <textarea
                name="bio"
                id="bio"
                autocomplete="off"
                [(ngModel)]="user.bio"
              ></textarea>
              <label for="bio" class="text text-earea">Bio</label>
            </div>
            <div class="group">
              <input
                #motivationInput
                placeholder="Add your motivations separated by commas"
                type="text"
                id="motivation"
                name="motivation"
                autocomplete="off"
                [(ngModel)]="user.motivation"
              />
              <label for="motivation" class="text">Motivation</label>
            </div>
            <div class="group">
              <input
                #galsInput
                placeholder="Add your goals separated by commas"
                type="text"
                id="goals"
                name="goals"
                autocomplete="off"
                [(ngModel)]="user.goals"
              />
              <label for="goals" class="text">Goals</label>
            </div>
            <div class="group">
              <input
                #personalInput
                placeholder="Add your personality separated by commas"
                type="text"
                id="personality"
                name="personality"
                autocomplete="off"
                [(ngModel)]="user.personality"
              />
              <label for="personality" class="text">Personality</label>
            </div>
          </form>
        </div>
      </div>
      <div class="buttons">
        <p-button
          label="Back"
          icon="pi pi-arrow-left"
          (onClick)="prevCallback.emit()"
        />
        <p-button
          label="Next"
          icon="pi pi-arrow-right"
          iconPos="right"
          (onClick)="nextCallback.emit()"
          (onClick)="
            processMotivations(
              motivationInput.value,
              galsInput.value,
              personalInput.value
            )
          "
        />
      </div>
    </ng-template>
  </p-stepperPanel>
  <p-stepperPanel header="Image & Skills">
    <ng-template
      pTemplate="content"
      let-prevCallback="prevCallback"
      let-index="index"
    >
      <div class="flex flex-column h-12rem">
        <div
          class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium"
        >
          <form>
            <div class="group">
              <input
                id="skillKey"
                name="skillKey"
                #keyInput
                type="text"
                placeholder="Enter skill name"
              />
              <label for="skillKey" class="text">Skill</label>
            </div>
            <div class="group">
              <input
                id="skillValue"
                name="skillValue"
                #valueInput
                type="text"
                placeholder="Enter proficiency level"
              />
              <label for="skillValue" class="text">Proficiency</label>
            </div>
            <p-button
              class="skill-button"
              label="Add skill"
              icon="pi pi-arrow-right"
              iconPos="right"
              (onClick)="addSkill(keyInput.value, valueInput.value)"
            />
            <div class="group social-face">
              <input
                id="facebook"
                name="facebook"
                [(ngModel)]="user.media.Facebook"
                type="text"
                placeholder="Enter Facebook URL"
              />
              <label for="facebook" class="text">Facebook</label>
            </div>
            <div class="group">
              <input
                id="instagram"
                name="instagram"
                [(ngModel)]="user.media.Instagram"
                type="text"
                placeholder="Enter Instagram URL"
              />
              <label for="instagram" class="text">Instagram</label>
            </div>
            <div class="group">
              <input
                id="linkedin"
                name="linkedin"
                [(ngModel)]="user.media.LinkedIn"
                type="text"
                placeholder="Enter Linked-In URL"
              />
              <label for="linkedin" class="text">Linked In</label>
            </div>
            <div class="group">
              <input
                id="whatsapp"
                name="whatsapp"
                [(ngModel)]="user.media.WhatsApp"
                type="text"
                placeholder="Enter WhatsApp URL"
              />
              <label for="whatsapp" class="text">WhatAapp</label>
            </div>
          </form>
        </div>
      </div>
      <div class="buttons">
        <p-button
          label="Back"
          icon="pi pi-arrow-left"
          (onClick)="prevCallback.emit()"
        />
        <p-button
          label="submit"
          icon="pi pi-arrow-right"
          iconPos="right"
          (onClick)="onSubmit()"
        />
      </div>
    </ng-template>
  </p-stepperPanel>
</p-stepper>
