* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  overflow-y: hidden;
  overflow-x: auto;
}
.user {
  display: flex;
  align-items: start;
  background-color: #e3dcc8;
  position: relative;
  border-radius: 10px;
  min-width: 1200px;
  overflow: hidden;
}
.user::after {
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  bottom: -16px;
  right: 26px;
  border: 3px solid #110c0e;
}
.user::before {
  content: "";
  width: 100px;
  height: 105px;
  border-radius: 100%;
  position: absolute;
  bottom: -6px;
  right: -8px;
  border: 3px solid #110c0e;
}
.user-image {
  position: relative;
  width: 50%;
  height: 96vh;
}
.user-image img {
  width: 100%;
  height: 100%;
}
.user-info {
  position: absolute;
  bottom: 10px;
  left: 0px;
  background: #b0815f;
  width: 100%;
  padding: 0 10px;
  text-align: center;
  color: #351d10;
}
.user-info h3 {
  color: #fff;
  margin-bottom: 5px;
}
.user-info p {
  margin-bottom: 5px;
  font-weight: bold;
}
.right-side,
.left-side {
  width: 50%;
  color: #120c0b;
  padding: 20px 40px;
}
h4 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 0;
  position: relative;
  width: fit-content;
}
h4::before {
  content: "";
  width: 0;
  height: 100%;
  display: block;
  background: rgba(176, 129, 90, 0.5);
  border-bottom: 2px solid #110c0e;
  position: absolute;
  transition: all 0.7s ease;
  bottom: 0;
  left: 0;
}
h4:hover::before {
  width: 100%;
}
.about p,
.bio p,
.motivation p,
.personality p,
ul li {
  font-size: 13px;
  line-height: 1.5;
  max-width: 400px;
}

ul {
  padding-left: 40px;
}
.skil-content {
  margin: 10px 0;
}
.skil-content p {
  width: 211px;
  text-align: center;
}
.skil-content .skil-value {
  font-weight: bold;
  color: #af815b;
}
.skil-content .skil-name {
  font-size: 13px;
  font-weight: bold;
  word-spacing: -1px;
}
:host ::ng-deep p-progressbar > div {
  width: 211px;
  height: 10px;
  margin: 3px 0;
  background-color: #b0815a;
}
:host ::ng-deep p-progressbar > div > div {
  background-color: #110c0e;
}
:host ::ng-deep .p-progressbar-label {
  display: none;
}
.social i {
  margin: 0 15px;
  font-size: 36px;
  color: #b0815a;
  transition: all 1s ease-out;
}
.social i:hover {
  background-color: #110c0e;
}
