<div class="poster">
  <p class="title">
    Amet consectetur adipisicing elit. Incidunt explicabo laboriosam ea
    temporibus, pariatur obcaecati fuga, velit tempora sequi deleniti maiores.
  </p>
  <div class="buttons">
    <button>
      <span class="shadow"></span>
      <span class="edge"></span>
      <span class="front text">
        <a [routerLink]="['/list']">Our Users</a>
      </span>
    </button>
    <button>
      <span class="shadow"></span>
      <span class="edge"></span>
      <span class="front text">
        <a>Add New User</a>
      </span>
    </button>
  </div>
</div>
